

<div class="navbar">

    <span><a href="/">Home</a><br><br></span>

    <span><a href="/allmmGame">See all the Games in the database</a></span><br>
      
    <span><a href="/allmmBoss">See all the Bosses in the database</a></span><br>
    
</div>