

<div class="canvas_container">
    <canvas id="myCanvas"></canvas>
</div>

<% for (var i = 0; i < 200; i++) { %>
<div class="star" style="animation: scroll <%= Math.random() * 10 + 10 %>s linear infinite;"></div>
<% } %>
<script>
function updatePositions() {
  const stars = document.querySelectorAll('.star');
  stars.forEach(star => {
    const x = Math.random() * window.innerWidth * 2;
    const y = Math.random() * window.innerHeight * 1.25;
    star.style.top = y + 'px';
    star.style.left = x + 'px';
  });
}
updatePositions();
setInterval(updatePositions, 10000);
</script>
