<!DOCTYPE html>

<html lang="en">

    <head>

        <%-include('./partials/head') %>

        <title>Create a New User</title>

    </head>

    <body>

        
        <div class="card_container">
            
            <span><h1>Create a new User</h1></span>
            
            <form action="/api/createmmUser" method="post">
                
                <label for="email"><span>Email:</span><br></label>
                <input type="email" id="email" name="email" placeholder="* Required"><br><br>
                
                
                <label for="password"><span>Password:</span><br></label>
                <input type="password" id="password" name="password" placeholder="* Required"><br><br>
                
                
                <input type="submit" value="Create User">
            </form>
            
            <a href="/loginmmUser">Already got an account? Login here</a>
        </div>

        <div class="sprite_container_mech-fly">
            <img src="../public/images/mech-fly.png" alt="" id="mech-fly">
        </div>

        <%-include('./partials/stars-bg') %>
 
    </body>

</html>