<!DOCTYPE html>

<html lang="en">
  
  <head>

    <%-include('./partials/head') %>

    <title>Megaman Robot Masters' App</title>

  </head>

  <body style="overflow: hidden;">

    <div class="home_container">
      
      <div class="bg_holder"></div>
        
      <br><br><br>

      <h1><span>Megaman - Robot Masters' database</span></h1>

      <br><br><br><br><br><br>
  
      <span><a href="/allmmGame">See all the Games in the database</a></span><br>

      <span><a href="/allmmBoss">See all the Bosses in the database</a></span><br>
      
      <%-include('./partials/stars-bg') %>   
      
    </div>

  </body>

</html>